
.copyContainer {
  @apply flex flex-col absolute text-white border border-white rounded p-2;
  left: 30px;
  bottom: 100px;

  hr {
    @apply my-1;
  }
  .copyHeading {
    @apply text-base;
  }

  .copyDescription {
    @apply flex items-center text-sm;
  }
}

.copiedMessage {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: royalblue;; /* Light green background */
  color: white;
  font-size: 14px;
  animation: fadeInOut 2s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}


@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
